<%= stylesheet_link_tag "custom.css" %>

<nav>
    
    <ul>
        <li> <%= link_to 'Home', root_path %> </li>
        <li> <%= link_to 'About', about_path %> </li>
        <li> <%= link_to 'Blog', pages_blog_path %> </li>
    </ul>
    
</nav>

<main class="parent">
  
  <div class="child">
     I'm a block-level element of an unknown height and width, centered vertically within my parent.
  </div>
  
</main>